body {
  background: #443c68;
  font-family: var(--font-montserrat);
}

/*Image gallery*/
.gallery {
  margin-top: 50px;
}
.grid-container {
  display: grid;
  grid-gap: 10px;
}
.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inner-text {
  background-color: #18122b;
  font-size: 2rem;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
}
.inner-text ul {
  font-size: 1rem;
  list-style: none;
}
li + li {
  padding-top: 15px;
}
/*Join us button*/
.btn-link {
  font-size: 1rem;
  background-color: #ad7be9;
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
  padding: 10px 35px;
  border-radius: 35px;
}
.btn-link:hover,
.btn-link:focus {
  opacity: 1;
}
footer {
  padding: 50px;
}
.footer-text {
  color: #fff;
}
/*Don't display large Join Us button*/
.non-visible-solo {
  display: none;
}
/*Navigation*/
.nav-style {
  font-size: 24px;
  text-align: center;
  padding: 20px;
}
.nav-link {
  text-decoration: none;
  color: #fff;
}

.grid-nav-container {
  display: grid;
  grid-template-columns: auto;
  position: relative;
}
/*Menu icon*/
.material-icons {
  color: white;
  font-size: 48px;
}
.logo-2 {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 10;
}
/*Disable the Text Nav on Mobile */
.nav-item {
  display: none;
}
@media screen and (min-width: 650px) {
  /* body {
    background-color: red;
  } */
  /*For Navigation*/
  .nav-item {
    display: block;
  }
  .logo-2 {
    display: none;
  }
  .grid-nav-container {
    /* display: grid; */
    grid-template-columns: auto 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px;
  }

  .accent-line {
    border-bottom: 3px solid #66613d;
    border-right: 3px solid #66613d;
    border-bottom-right-radius: 10px;
    padding: 10px;
  }
  .nav-item-01 {
    grid-column: 2;
    grid-row: 1;
  }
  .nav-item-02 {
    grid-column: 3;
    grid-row: 1;
  }
  .nav-item-03 {
    grid-column: 4;
    grid-row: 1;
  }
  .nav-item-04 {
    grid-column: 5;
    grid-row: 1;
  }
}
@media screen and (min-width: 820px) {
  /* body {
    background-color: green;
  } */
  /*Change the gallery layout*/
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* grid-auto-rows: 300px; */
  }
  .odd-1 {
    grid-row: span 3;
  }
  .odd-2 {
    grid-column-start: 2;
    grid-row: 2 / span 2;
  }
  .odd-3 {
    grid-row: 2 / span 2;
    grid-column-start: 3;
  }
  .odd-4 {
    grid-column-start: 3;
    grid-row-start: 4;
  }
  .odd-5 {
    grid-column-start: 2;
    grid-row-start: 4;
  }
  .inner-text {
    align-self: center;
  }
  .text-01 {
    grid-column: 1;
    grid-row: 1;
  }
  .text-02 {
    grid-column: 2;
    grid-row: 1;
  }
  .text-03 {
    grid-column: 3;
    grid-row: 1;
  }
  /*Don't display each section's join us button*/
  .non-visible {
    display: none;
  }
  /*Display large Join Us button*/
  .non-visible-solo {
    display: inline-block;
    margin-top: 35px;
    padding: 15px 55px;
    font-size: 2rem;
  }
}
