/*Image gallery*/
.gallery {
  margin-top: 50px;
}
.grid-container {
  display: grid;
  grid-gap: 10px;
}
.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inner-text {
  background-color: #18122b;
  font-size: 2rem;
  padding: 20px 10px;
  text-align: center;
}
.inner-text ul {
  font-size: 1rem;
  list-style: none;
}
.inner-text li {
  padding: 15px 0;
}

/*Join us button*/

.btn-link {
  font-size: 1rem;
  opacity: 0.7;
  text-decoration: none;
  background-color: #ad7be9;
  color: inherit;
  padding: 10px 35px;
  border-radius: 35px;
}
.btn-link:hover,
.btn-link:focus {
  opacity: 1;
}
/*Display large Join Us button*/
.non-visible-solo {
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 660px) {
  /* body {
    background-color: red;
  } */
  .hero-text {
    margin-top: 50px;
  }
}
@media screen and (min-width: 845px) {
  /* body {
    background-color: green;
  } */
  /*Change the gallery layout*/
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* grid-auto-rows: 300px; */
  }
  .odd-1 {
    grid-row: 2 / span 3;
  }
  .odd-2 {
    grid-column: 2;
    grid-row: 2 / span 2;
  }
  .odd-3 {
    grid-row: 2 / span 2;
    grid-column: 3;
  }
  .odd-4 {
    grid-column: 3;
    grid-row-start: 4;
  }
  .odd-5 {
    grid-column: 2;
    grid-row-start: 4;
  }
  .inner-text {
    align-self: center;
  }
  .text-01 {
    grid-column: 1;
    grid-row: 1;
  }
  .text-02 {
    grid-column: 2;
    grid-row: 1;
  }
  .text-03 {
    grid-column: 3;
    grid-row: 1;
  }
  /*Don't display each section's join us button*/
  .non-visible {
    display: none;
  }
  /*large Join Us button in center slot*/
  .non-visible-solo {
    grid-column: 2;
  }
}
