body {
  background: #807d6c;
  pointer-events: none;
}

.nav-style {
  font-size: 24px;
  text-align: center;
  padding: 20px;
  /* border: 5px solid blue; */
}
.nav-style div a {
  text-decoration: none;
  color: #fff;
}
.nav-style img {
  margin: 0 auto;
}
.gallery {
  margin-top: 50px;
}
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  /* grid-template-rows: 200px 200px; */
  grid-auto-rows: 300px;
}
.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .grid-nav-container {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px;
  }
  .accent-line {
    border-bottom: 3px solid #66613d;
    border-right: 3px solid #66613d;
    border-bottom-right-radius: 10px;
    padding: 10px;
  }
  .odd-1 {
    grid-row: span 3;
  }
  .odd-2 {
    grid-column-start: 2;
    grid-row: 1 / span 2;
  }
  .odd-3 {
    grid-row: 2 / span 2;
    grid-column-start: 3;
  }
  .odd-4 {
    grid-column-start: 3;
    grid-row-start: 1;
  }
  .odd-5 {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .middle {
    padding: 30px;
  }
}
