img.rotation,
img.playtime {
  height: 100%;
  max-width: 100%;
}
section + section {
  margin-top: 3em;
}

.quarter {
  display: none;
}
.iframe-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}
.iframe-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 845px) {
  .quarter {
    display: block;
  }
  .img-sets {
    display: none;
  }
}
