.signin {
  /* border: 2px solid green; */
}
.signin h3 {
  font-size: 2rem;
  padding-top: 0.5em;
}
.center {
  text-align: center;
}
.existing-account {
}
.input-field {
  height: 3em;
  border-radius: 0.75em;
}
.new-account {
}
.input-user {
  padding-top: 1em;
}
.input-item + .input-item {
  padding-top: 1em;
}
.forgot-pass-new {
  text-decoration: none;
  color: var(--color-white);
}
.policy-text {
  padding: 1.5em 0;
}
.policy-text p {
  padding-top: 1em;
}
.policy-text span a {
  color: var(--color-white);
}
.new-account p {
  padding: 1em 0;
}

@media screen and (min-width: 660px) {
}
@media screen and (min-width: 845px) {
}
