/*Navigation*/
.nav-style {
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 0;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}
.logo {
  width: 50px;
  display: block;
  text-align: left;
  /*adds shadow*/
  -webkit-filter: drop-shadow(1px 1px 1px #fff);
  filter: drop-shadow(1px 1px 1px #fff);
}
/*Disable the Text Nav on Mobile */
.nav-item {
  display: none;
}
/* use for menu toggle */
.nav-item.active {
  display: block;
  opacity: 0.7;
  padding: 35px 0;
}
.nav-item.active:hover {
  opacity: 1;
}
.grid-nav-container {
  display: grid;
  grid-template-columns: auto;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  position: static;
  z-index: 1;
  left: 0;
  top: 0;
}
.overlay.active {
  position: fixed;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0, 5s;
}
/*Menu icon*/
.material-icons {
  color: var(--color-white);
  font-size: 48px;
}
.logo-hamburger {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 10;
}
@media screen and (min-width: 660px) {
  /*For Navigation*/
  .nav-style {
    font-size: 1.2rem;
  }
  .nav-item {
    display: block;
    opacity: 0.7;
    text-align: end;
  }
  .nav-item:hover {
    opacity: 1;
  }
  .logo-hamburger {
    display: none;
  }
  .grid-nav-container {
    grid-template-columns: auto repeat(6, 1fr);
    grid-template-rows: 30px;
    justify-content: space-evenly;
  }

  .accent-line {
    border-bottom: 3px solid #66613d;
    border-right: 3px solid #66613d;
    border-bottom-right-radius: 10px;
    padding: 10px;
  }
  .nav-item-01 {
    grid-column: 2;
    grid-row: 1;
  }
  .nav-item-02 {
    grid-column: 3;
    grid-row: 1;
  }
  .nav-item-03 {
    grid-column: 4;
    grid-row: 1;
  }
  .nav-item-04 {
    grid-column: 5;
    grid-row: 1;
  }
  .nav-item-05 {
    grid-column: 6;
    grid-row: 1;
  }
  .nav-item-06 {
    grid-column: 7;
    grid-row: 1;
  }
}
/*Footer Section*/
footer {
  padding: 50px;
  text-align: center;
}
