.signin {
  /* border: 2px solid green; */
}
.signin h3 {
  font-size: 1.5rem;
  /* font-size: 2rem; */
  padding-top: 0.5em;
}
.center {
  text-align: center;
}

.input-field {
  height: 3em;
  border-radius: 0.75em;
}

.input-user {
  padding-top: 1em;
}
.input-item {
  padding: 1em 0;
}
/* .input-item + .input-item {
  padding-top: 1em;
} */
.forgot-pass-new {
  text-decoration: none;
  color: var(--color-white);
}
.policy-text {
  padding: 1.5em 0;
}
.policy-text p {
  padding-top: 1em;
}
.policy-text span a {
  color: var(--color-white);
}
.new-account p {
  padding: 1em 0;
}
.new-account-title {
  display: none;
}
.form-signup {
  display: none;
}
.form-signup.active {
  display: block;
}
#joinus {
  margin-top: 1em;
}
.larger {
  font-size: 1.5rem;
}
@media screen and (min-width: 660px) {
  /* body {
    background-color: brown;
  } */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .existing-account {
    width: 88%;
  }
  .new-account {
    width: 88%;
  }
  .new-account-text {
    display: none;
  }
  .new-account-title {
    display: block;
  }
  .form-signup {
    display: block;
  }
  .signin h3 {
    /* font-size: 1.5rem; */
    text-align: left;
  }
  #joinus {
    display: none;
  }
}
@media screen and (min-width: 845px) {
  /* body {
    background-color: green;
  } */
  .signin h3 {
    font-size: 2rem;
  }
}
